<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>MODE</h3>
                <p>Moda ve stilin buluşma noktası. En son trendler, kaliteli ürünler ve sizin için seçtiğimiz koleksiyonlar.</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                </div>
            </div>
            
            <div class="footer-column">
                <h3>Kategoriler</h3>
                <ul>
                    <li><a href="/kadin">Kadın</a></li>
                    <li><a href="/erkek">Erkek</a></li>
                    <li><a href="/aksesuar">Aksesuarlar</a></li>
                    <li><a href="/indirim">İndirim</a></li>
                </ul>
            </div>
            
            <div class="footer-column">
                <h3>Hızlı Linkler</h3>
                <ul>
                    <li><a href="/hakkimizda">Hakkımızda</a></li>
                    <li><a href="/iletisim">İletişim</a></li>
                    <li><a href="/sss">Sıkça Sorulan Sorular</a></li>
                    <li><a href="/iade-politikasi">İade Politikası</a></li>
                    <li><a href="/gizlilik-politikasi">Gizlilik Politikası</a></li>
                </ul>
            </div>
        </div>
        
        <div class="footer-bottom">
            <p>&copy; 2024 MODE. Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>
